<form class="form-signin text-center" method="post" novalidate="novalidate">
  <img class="logo-login" src="../../assets/img/vbanking-logo-cinza.png" alt="VBanking" width="250" />
  <h1 class="h3 mb-3 font-weight-normal">Fazer login</h1>
  <label for="inputEmail" class="sr-only">E-mail</label>
  <input type="email" [(ngModel)]="login.email" id="inputEmail" class="form-control" placeholder="E-mail" required name="Input.Email">

  <label for="inputPassword" class="sr-only">Senha</label>
  <input [(ngModel)]="login.senha" type="password" class="form-control" placeholder="Senha" required name="Input.Password">

  <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
  <span class="text-danger field-validation-valid" *ngIf="!usuarioEncontrado">Usuário/Senha incorreto(s).</span>
  <button class="btn btn-lg btn-primary btn-block mb-3" type="submit" (click)="logarFake()">Entrar</button>
  <div class="options mb-3">
    <label>
      <a routerLink="/esqueci-senha">Esqueceu a senha?</a>
    </label>
    <label>
      <a routerLink="/cadastrar-usuario">Novo usuário</a>
    </label>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
</form>