<div class="container">
  <h2>Visualizar Arquivos</h2>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <label for="cbBanco">Data importação
            <strong>de</strong>
          </label>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpDe" [(ngModel)]="model1" ngbDatepicker #de="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="de.toggle()" type="button">
                  <img src="{{logoDatePickerUrl}}" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="cbBanco">Data importação
            <strong>até</strong>
          </label>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpAte" [(ngModel)]="model2" ngbDatepicker #ate="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="ate.toggle()" type="button">
                  <img src="{{logoDatePickerUrl}}" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="cbBanco">Banco</label>
          <select id="cbBanco" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;">
            <option selected="selected" value="">Selecione o banco</option>
            <option *ngFor="let banco of bancos" value="{{banco.id}}">{{banco.descricao}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="cbCNAB">CNAB</label>
          <select id="cbCNAB" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;">
            <option selected="selected" value="">Selecione o tipo do arquivo</option>
            <option *ngFor="let cnab of cnabs" value="{{cnab.id}}">{{cnab.descricao}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-primary btn-s">
        <span class="glyphicon glyphicon-trash"></span> Filtrar
      </button>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header">Arquivos filtrados</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data Importação</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Tipo</th>
                <th scope="col">Banco</th>
                <th scope="col">Validado</th>
                <th scope="col" style="text-align:center;">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>REM01.txt</td>
                <td>01/01/2018 18:00</td>
                <td>10kb</td>
                <td>CNAB 240</td>
                <td>Itaú</td>
                <td>Sim</td>
                <td style="text-align:center;">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Download">
                    <span class="fas fa-cloud-download-alt"></span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Gerar Boletos">
                    <span class="fas fa-barcode"></span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="openLg(content)" data-toggle="tooltip" data-placement="top"
                    title="Ver Detalhes">
                    <span class="fas fa-info"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>REM02.txt</td>
                <td>01/01/2018 19:00</td>
                <td>100kb</td>
                <td>CNAB 400</td>
                <td>Banco do Brasil</td>
                <td>Não</td>
                <td style="text-align:center;">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Download">
                    <span class="fas fa-cloud-download-alt"></span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Gerar Boletos">
                    <span class="fas fa-barcode"></span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="openLg(content)" data-toggle="tooltip" data-placement="top"
                    title="Ver Detalhes">
                    <span class="fas fa-info"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>REM03.txt</td>
                <td>01/01/2018 18:30</td>
                <td>300kb</td>
                <td>CNAB 240</td>
                <td>Santander</td>
                <td>Não</td>
                <td style="text-align:center;">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Download">
                    <span class="fas fa-cloud-download-alt"></span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Gerar Boletos">
                    <span class="fas fa-barcode"></span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="openLg(content)" data-toggle="tooltip" data-placement="top"
                    title="Ver Detalhes">
                    <span class="fas fa-info"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalhes do arquivo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-alerts">
      <ul>
        <li>
          <h3>Header:</h3>
          <div class="container-errors">
            <div class="errors">
              <h6>
                Foram encontradas (1) falhas no arquivo enviado.
              </h6>
              <hr *ngIf="errors">
              <ul *ngIf="errors" style="color: red">
                <li>
                  Posição 10 - Posição 20, Linha 1 : esperado valor numérico, campo: CNPJ
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h3>Detalhes:</h3>
          <div class="container-errors">
            <div class="errors">
              <h6>
                Foram encontradas (4) falhas no arquivo enviado.
              </h6>
              <hr *ngIf="errors">
              <ul *ngIf="errors" style="color: red">
                <li *ngFor="let error of errors">
                  {{error.mensagem}}
                </li>
              </ul>
            </div>
          </div>
          <div class="container-sucesso">
            <div class="sucesso">
              <h6>
                Foram encontradas (2) linhas válidas no arquivo enviado.
              </h6>
              <hr *ngIf="sucessos">
              <ul *ngIf="sucessos" style="color: green">
                <li *ngFor="let sucesso of sucessos">
                  {{sucesso.mensagem}}
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h3>Trailer:</h3>
          <div class="container-sucesso">
            <div class="sucesso">
              <h6>
                Foram encontradas (1) linhas válidas no arquivo enviado.
              </h6>
              <hr *ngIf="sucessos">
              <ul *ngIf="sucessos" style="color: green">
                <li>
                  Posição 10 - Posição 20, Linha 300 : esperado valor numérico
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
