<div class="container">
  <h2>Cadastrar Layout</h2>
  <div class="card bg-light mb-3">
    <form form method="post" action="/" novalidate="novalidate" [formGroup]="form">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-2">
            <label for="cbBanco">Banco</label>
            <select id="cbBanco" formControlName="banco" [(ngModel)]="model.bancoId" class="custom-select mb-2 mr-sm-2 mb-sm-0"
              style="display: inherit;">
              <option [value]="undefined">Selecione</option>
              <option *ngFor="let banco of bancos" value="{{banco.id}}">{{banco.descricao}}</option>
            </select>
          </div>
          <div class="col-md-4 mb-2">
            <label for="cbCNAB">CNAB</label>
            <select id="cbCNAB" formControlName="cnab" [(ngModel)]="model.tipoCNABId" (change)="onChangeSelect($event)"
              class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;">
              <option [value]="undefined">Selecione</option>
              <option value="1">CNAB 240</option>
              <option value="2">CNAB 400</option>
            </select>
          </div>
          <div class="col-md-4 mb-2">
            <label for="cTipoTransascao">Tipo de transação</label>
            <select id="cTipoTransascao" formControlName="tipoTransacao" [(ngModel)]="model.tipoTransacaoId" class="custom-select mb-2 mr-sm-2 mb-sm-0"
              style="display: inherit;">
              <option [value]="undefined">Selecione</option>
              <option value="1">Pagamento</option>
              <option value="2">Cobrança</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="cbTipoRegistro">Tipo do registro</label>
            <select id="cbTipoRegistro" (change)="onChangeSelect($event)" [(ngModel)]="model.tipoRegistroId"
              formControlName="tipoRegistro" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;">
              <option [value]="undefined">Selecione</option>
              <option value="1">Header</option>
              <option value="2">Detalhe</option>
              <option value="3">Trailer</option>
            </select>
          </div>
          <div class="col-md-4" *ngIf="model.tipoCNABId == 1 && model.tipoRegsitroId == 2">
            <label for="cbSegmento">Segmento</label>
            <select id="cbSegmento" formControlName="segmento" [(ngModel)]="model.segmentoId" class="custom-select mb-2 mr-sm-2 mb-sm-0"
              style="display: inherit;">
              <option [value]="undefined">Selecione</option>
              <option *ngFor="let segmento of segmentos" value="{{segmento.idSegmento}}">{{segmento.descricao}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="cbTipoRetorno">Tipo</label>
            <select id="cbTipoRetorno" formControlName="tipoRetorno" [(ngModel)]="model.tipoBoletoId" class="custom-select mb-2 mr-sm-2 mb-sm-0"
              style="display: inherit;">
              <option [value]="undefined">Selecione</option>
              <option value="1">Remessa</option>
              <option value="2">Retorno Bancário</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer text-muted text-right">
      <button class="btn btn-left btn-info" type="button" (click)="voltar()">
        <i class="fas fa-chevron-left"></i> voltar
      </button>
      <!-- [disabled]="form.invalid" -->
      <button type="submit" class="btn btn-primary" (click)="salvarNovoLeioute()" >Adicionar</button>
    </div>
  </div>
  <div class="card bg-light mb-3">
    <div class="card-header">Lista de parâmetros de Layout</div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Posição De</th>
                <th scope="col">Posição Até</th>
                <th scope="col">Descrição</th>
                <th scope="col">Tipo Campo</th>
                <th scope="col">Obrigatório</th>
                <th scope="col">Identificador bloco</th>
                <th scope="col">Valor esperado</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let layout of layouts">
                <th>{{layout.posicaoDe}}</th>
                <td>{{layout.posicaoAte}}</td>
                <td>{{layout.descricao}}</td>
                <td>{{layout.tipoCampoDescricao}}</td>
                <td>{{layout.obrigatorio ? "Sim" : "Não"}}</td>
                <td>{{layout.tipoRegistroFlag ? "Sim" : "Não"}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" (click)="detalhesValoresEsperados(layout)" data-toggle="tooltip" data-placement="top" ngbTooltip="Detalhes">
                    <i class="fas fa-info-circle"></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" (click)="editar(editarModal, layout)" data-toggle="tooltip" data-placement="top" ngbTooltip="Editar">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="exclude(excludeModalId, layout)" data-toggle="tooltip" data-placement="top" ngbTooltip="Excluir">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card-footer text-muted text-right">
      <button type="submit" class="btn btn-primary" (click)="salvarLeiouteConfigurado()">Salvar</button>
    </div>
  </div>
</div>

<!-- <app-valor-esperado-cadastro-modal #detalhesValorEsperado></app-valor-esperado-cadastro-modal> -->
<!-- <app-valor-esperado-cadastro-modal #detalhesValorEsperado></app-valor-esperado-modal> -->

<app-editar-layout-cadastro-modal #editarLayoutModal></app-editar-layout-cadastro-modal>
<app-excluir-layout-cadastro-modal #excluirLayoutModal></app-excluir-layout-cadastro-modal>