/* Master Styles */

.no-p {
  padding: 0;
}

h1.display-4 {
  color: #222;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5;
  margin-bottom: 0;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */

/* nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
} */

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* START - COMPONENTS*/

.tooltip-icon-trash-top:hover {
  position: relative;
}

.tooltip-icon-trash-top:hover::before {
  position: absolute;
  content: '';
  top: -2px;
  left: 9px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
}
.tooltip-icon-trash-top:hover::after {
  position: absolute;
  content: 'Excluir';
  width: 50px;
  font-size: 11px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  top: -28px;
  border-radius: 2px;
  left: -10px;
}

.txt-green{color:#00ac5c}
.txt-red{color:#cf2020}

.bg-danger .modal-title{color:#fff;font-size: 1rem;font-weight: bold;}
.bg-danger .close span{color:#fff;}


.bg-primary .modal-title{color:#fff;font-size: 1rem;font-weight: bold;}
.bg-primary .close span{color:#fff;}

.bg-success .modal-title{color:#fff;font-size: 1rem;font-weight: bold;}
.bg-success .close span{color:#fff;}
/* END - COMPONENTS*/
