<h3>Importar arquivo</h3>
<div class="row">
    <div class="col s12">
        <input #fileInput type="file" />
        <select [(ngModel)]="importar.bancoId">
            <option value="">Selecione o banco</option>
            <option *ngFor="let banco of bancos" value="{{banco.id}}">{{banco.descricao}}</option>
        </select>

        <select [(ngModel)]="importar.tipoCNABId">
            <option value="">Selecione o tipo do arquivo</option>
            <option *ngFor="let cnab of cnabs" value="{{cnab.id}}">{{cnab   .descricao}}</option>
        </select>

        <!-- <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Selecione o banco</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Banco do Brasil</button>
                <button class="dropdown-item">Itaú</button>
                <button class="dropdown-item">Bradesco</button>
            </div>
        </div> -->
        <button type="button" class="btn btn-primary btn-sm" (click)="saveUpload()">Enviar e validar</button>
    </div>
</div>