<div class="container">
  <h2>Segmentos</h2>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped" style="margin-bottom: 0;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Banco</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Status</th>
                <th scope="col" style="width:100px;text-align: center;">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let segmento of segmentos">
                <th scope="row">{{segmento.id}}</th>
                <td>{{segmento.descricao}}</td>
                <td>{{segmento.banco}}</td>
                <td>{{segmento.dataCadastro}}</td>
                <td>{{segmento.status}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" (click)="editarOpenModal(content, segmento.id)" ngbTooltip="Editar">
                    <span class="fas fa-edit"></span>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="excludeOpenModal(excluir)" ngbTooltip="Excluir">
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-primary" (click)="novoOpenModal(content)">
        <span class="glyphicon glyphicon-trash"></span> Novo
      </button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{id == 0 ? 'Novo' : 'Editar' }} Segmento</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-md-12">
          <form method="post" action="/" novalidate="novalidate">
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
              <ul>
                <li style="display:none"></li>
              </ul>
            </div>
            <div class="form-group">
              <label for="Input_Email">Descrição</label>
              <input class="form-control" type="text" data-val="true" id="Input_nome" name="Input.nome" value="">
            </div>
            <div class="form-group">
              <label for="cbBanco">Banco</label>
              <select id="cbBanco" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;">
                <option selected="selected" value="">Selecione o banco</option>
                <option *ngFor="let banco of bancos" value="{{banco.id}}">{{banco.descricao}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cbCNAB">Status</label>
              <select id="cbCNAB" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;width: 100%">
                <option selected="selected" value="1">Ativo</option>
                <option value="2">Inativo</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="c('Close click')">Salvar</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #excluir let-c="close" let-d="dismiss">
  <div class="modal-header bg-danger">
    <h4 class="modal-title">Excluir Segmento</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-md-12">
          Tem certeza que deseja excluir?
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" (click)="c('Close click')">Sim</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Não</button>
  </div>
</ng-template>
