<div class="container">
  <h2>Bancos</h2>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped" style="margin-bottom: 0;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Status</th>
                <th scope="col" style="width:100px;text-align: center;">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let banco of bancos">
                <th scope="row">{{banco.id}}</th>
                <td>{{banco.descricao}}</td>
                <td>{{banco.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                <td>{{banco.ativo ? "Sim" : "Não"}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" (click)="editarOpenModal(content, banco)" ngbTooltip="Editar">
                    <span class="fas fa-edit"></span>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="excluirOpenModal(exclude, banco)" ngbTooltip="Excluir">
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      <button type="button" class="btn btn-primary" (click)="novoOpenModal(content)">
        <span class="glyphicon glyphicon-trash"></span> Novo
      </button>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">Salvar Banco</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-md-12">
          <form method="post" action="/" novalidate="novalidate" [formGroup]="form">
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
              <ul>
                <li style="display:none"></li>
              </ul>
            </div>
            <div class="form-group">
              <label>Código</label>
              <input class="form-control" type="number" [(ngModel)]="model.id" name="id" formControlName="id">
            </div>
            <div class="form-group">
              <label>Descrição</label>
              <input class="form-control" type="text" maxlength="255" [(ngModel)]="model.descricao" name="descricao" formControlName="descricao">
            </div>
            <div class="form-group">
              <label for="cbStatus">Ativo</label>
              <select id="cbStatus" [(ngModel)]="model.ativo" formControlName="ativo" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;width: 100%">
                <option [value]="undefined">Selecione</option>
                <option selected="selected" value="true">Ativo</option>
                <option value="false">Inativo</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-left" (click)="salvar('Close click')" [disabled]="form.invalid">Salvar</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>


<ng-template #exclude let-c="close" let-d="dismiss">
  <div class="modal-header bg-danger">
    <h4 class="modal-title">Excluir Banco</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-md-12">
          Tem certeza que deseja excluir?
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-left" (click)="excluir()">Sim</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Não</button>
  </div>
</ng-template>
