<h3>Cadastrar Bancos</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label for="cbBanco">Listagem de bancos</label>
            <table class="table">
                <thead class="thead-dark table-striped">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data Cadastro</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Santander</td>
                        <td>01/01/2018 18:00</td>
                        <td>Ativo</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-s" (click)="novo(content)">
                                <span class="glyphicon glyphicon-trash"></span> Alterar
                            </button>
                            <button type="button" class="btn btn-secondary btn-s">
                                <span class="glyphicon glyphicon-trash"></span> Excluir
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Bradesco</td>
                        <td>01/01/2018 18:00</td>
                        <td>Ativo</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-s" (click)="novo(content)">
                                <span class="glyphicon glyphicon-trash"></span> Alterar
                            </button>
                            <button type="button" class="btn btn-secondary btn-s">
                                <span class="glyphicon glyphicon-trash"></span> Excluir
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Itaú</td>
                        <td>01/01/2018 18:00</td>
                        <td>Ativo</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-s" (click)="novo(content)">
                                <span class="glyphicon glyphicon-trash"></span> Alterar
                            </button>
                            <button type="button" class="btn btn-secondary btn-s" (click)="excluir(content)">
                                <span class="glyphicon glyphicon-trash"></span> Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <hr>
            <button type="button" class="btn btn-primary btn-s" (click)="novo(content)">
                <span class="glyphicon glyphicon-trash"></span> Novo
            </button>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Novo Banco</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="/" novalidate="novalidate">
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="Input_Email">Descrição</label>
                            <input class="form-control" type="text" data-val="true" id="Input_nome" name="Input.nome" value="">
                        </div>
                        <div class="form-group">
                            <label for="cbCNAB">Status</label>
                            <select id="cbCNAB" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;width: 100%">
                                <option selected="selected" value="1">Ativo</option>
                                <option  value="2">Inativo</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="c('Close click')">Salvar</button>
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #excluir let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Novo Banco</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-md-12">
                         Tem certeza que deseja excluir?
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="c('Close click')">Salvar</button>
            <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>