<form class="form-signin text-center" method="post" novalidate="novalidate">
  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Recuperar a senha</h1>
  <label for="inputEmail" class="sr-only">E-mail</label>
  <input type="email" id="inputEmail" class="form-control mb-3" placeholder="E-mail" required autofocus data-val="true" data-val-email="The Email field is not a valid e-mail address."
    data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
  <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Recuperar</button>
  <div class="options mb-3">
    <label>
      <a routerLink="/login">Fazer login</a>
    </label>
    <label>
      <a routerLink="/cadastrar-usuario">Novo usuário</a>
    </label>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
</form>
