<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/importar-arquivo">Validar</a>
            </li>
            <li>
                <a routerLink="/visualizar-arquivo">Visualizar</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li>
                <a routerLink="/cadastrar-usuario">Cadastrar</a>
            </li> -->
            <li>
                <a routerLink="/login">Log in</a>
            </li>
        </ul>
    </div>
</nav>