<ng-template #editarModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">Editar Parâmetro</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            <form method="post" action="/" novalidate="novalidate" [formGroup]="form">
              <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul>
                  <li style="display:none"></li>
                </ul>
              </div>
              <div class="form-group">
                <label for="Input_Email">Posição De</label>
                <input class="form-control" type="text" [(ngModel)]="model.posicaoDe" name="posicaoDe" formControlName="posicaoDe">
              </div>
              <div class="form-group">
                <label for="Input_Email">Posição Até</label>
                <input class="form-control" type="text" [(ngModel)]="model.posicaoAte" name="posicaoAte" formControlName="posicaoAte">
              </div>
              <div class="form-group">
                <label for="Input_Email">Descrição</label>
                <input class="form-control" type="text" [(ngModel)]="model.descricao" name="descricao" formControlName="descricao">
              </div>
              <div class="form-group">
                <label for="cbTipoCampo">Tipo Campo</label>
                <select id="cbTipoCampo" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;width: 100%" [(ngModel)]="model.tipoCampoId" name="tipoCampoId" formControlName="tipoCampoId">
                  <option value="1">Numérico</option>
                  <option value="2">Alfanumérico</option>
                  <option value="3">Data(aaaammdd)</option>
                  <option value="4">Data(ddmmaa)</option>
                  <option value="5">Data(ddmmaaaa)</option>
                </select>
              </div>
              <div class="form-group">
                <label for="cbObrigatorio">Obrigatório</label>
                <select id="cbObrigatorio" [(ngModel)]="model.obrigatorio" name="obrigatorio" formControlName="obrigatorio" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="display: inherit;width: 100%">
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
              </div>
              <div class="form-group">
                <label for="valorEsperado">Valor esperado</label>
                <ss-multiselect-dropdown [options]="valoresEsperados" style="display: inherit;width: 100%" ></ss-multiselect-dropdown>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-left" (click)="c('Close click')">Salvar</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>